#*
.emacs.desktop*
/*-local.el
/auto-save*
/backups
/elpa
.mc-lists.el
ac-comphist.dat
/transient/
/projects
/history
/eshell/
/ido.last
url
/.cache/
/custom-user.el
/init-user.el
/server/
*.elc
/projectile-bookmarks.eld
